.banner
    h1.banner__title Title of the page
    p.banner__subtitle Subtitle
    p.banner__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra turpis tristique nisi laoreet gravida. Sed sed orci ut ante pellentesque efficitur id ac erat. Morbi metus metus, dictum sed arcu at, interdum porttitor erat.

    button.btn Button