.testimonial
   blockquote.testimonial__block
       p.testimonial__text In hac habitasse platea dictumst. Phasellus finibus ipsum enim, non pretium massa mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convallis odio mollis tempus!
       cite.testimonial__author Jim Gordon (GCPD)