.page-nav {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.page-nav::before, .page-nav::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 2px;
  left: 0px;
  background: #fff;
  opacity: 0.1;
}
.page-nav::before {
  top: -10px;
}
.page-nav::after {
  bottom: 0;
}
.page-nav__link {
  display: block;
  font-size: 8px;
  padding: 8px 0;
  font-family: $font-stack;
  font-weight: bold;
}
.page-nav__link:hover {
  color: #fff;
}