doctype html
html(lang="ru-RU")
    head
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,700|Sawarabi+Gothic" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        meta(charset="utf-8")
        block title
        body
            .wrapper
                include ../modules/sidebar
                .content
                   block content
                   include ../modules/footer